@charset "utf-8";
.contenedor {
    background-color: #000203;
    width: 100%;
    height: auto;
}
.cabezera {
    background-color: #FFB3B5;
    width: 100%;
    height: 408px;
}

.menu {
    background-color: #000000;
    width: 100%;
    height: 50px;
}
.contenedor .menu section {
    width: 21%;
    height: 52px;
}
.menu section img {
    width: 33%;
    margin-top: 9px;
    margin-right: 0px;
    margin-left: 25px;
    margin-bottom: 0px;
    height: 32px;
}


.contenedor .cabezera img {
    width: 100%;
    height: 408px;
}

.contenedor2 {
    width: 100%;
    height: 353px;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: #000000;
}
.pelicuias {
    background-color: #5E5DFF;
    width: 15%;
    height: 290px;
    margin-top: 23px;
    margin-right: 10px;
    margin-left: 55px;
    margin-bottom: 10px;
    float: left;
    display: flay;
}
.contenedor2 .pelicuias img {
    width: 100%;
    height: 290px;
}

.PIE.DE.PAGINA {
    background-color: #303A45;
    width: 100%;
    height: 148px;
}
.PIE.DE.PAGINA section img {
    width: 46%;
    height: 49px;
    display: flex;
    margin-top: 57px;
    margin-right: 0px;
    margin-left: 1214px;
    margin-bottom: 0px;
}

.texto {
    color: #FCFCFC;
    width: 30%;
    height: 0px;
    display: fly;
    font-size: 13px;
    margin-top: -28px;
    margin-right: 0px;
    margin-left: 239px;
    margin-bottom: 0px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.contenedor .PIE.DE.PAGINA section {
    width: 25%;
    height: 50px;
    display: flex;
}


@media screen and (max-width:480px){
.contenedor .cabezera img {
    width: 100%;
    height: 187px;
}
.contenedor {
    width: 100%;
    height: 4055px;
}

.contenedor .cabezera {
    width: 100%;
    height: 187px;
}
.contenedor .contenedor2 .pelicuias {
    width: 55%;
    height: 304px;
}
.contenedor .PIE.DE.PAGINA {
    width: 100%;
    margin-top: 2615px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    height: 346px;
}
.PIE.DE.PAGINA section img {
    width: 162%;
    margin-top: 272px;
    margin-right: 0px;
    margin-left: 107px;
    margin-bottom: 0px;
    height: 44px;
}
.contenedor .PIE.DE.PAGINA .texto {
    width: 57%;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 83px;
    margin-bottom: 0px;
    height: 45px;
}
.menu section img {
    width: 106%;
}







}

@media screen and (min-width:481px) and (max-width:720px){
.contenedor .contenedor2 .pelicuias {
    width: 34%;
    height: 290px;
}
.contenedor {
    height: 2500px;
    width: 100%;
}
.contenedor .PIE.DE.PAGINA {
    width: 100%;
    height: 281px;
    display: flay;
    margin-top: 951px;
}
.contenedor .PIE.DE.PAGINA section {
    width: 39%;
    margin-top: 0px;
    margin-right: -244px;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 81px;
}
.PIE.DE.PAGINA section img {
    margin-top: 90px;
    margin-right: 0px;
    margin-left: 338px;
    margin-bottom: 0px;
    width: 63%;
}
.contenedor .PIE.DE.PAGINA .texto {
    margin-top: -61px;
    margin-right: auto;
    margin-left: 101px;
    margin-bottom: auto;
}
.menu section img {
    width: 93%;
}
.contenedor .cabezera img {
    width: 100%;
    height: 200px;
}
.contenedor .cabezera {
    width: 100%;
    height: 200px;
}










}

@media screen and (min-width:721px) and (max-width:980px){
.contenedor {
    width: 100%;
    height: 1718px;
}
.contenedor .contenedor2 .pelicuias {
    width: 155px;
    height: 290px;
}
.contenedor .contenedor2 {
    width: 100%;
    height: 686px;
}
.contenedor .PIE.DE.PAGINA {
    height: 190px;
}
.contenedor .PIE.DE.PAGINA section {
    width: 44%;
    margin-top: 0px;
    margin-right: 74px;
    margin-left: -675px;
    margin-bottom: 0px;
    height: 48px;
}
.contenedor .PIE.DE.PAGINA .texto {
    margin-top: -26px;
    margin-right: 0px;
    margin-left: 132px;
}
.menu section img {
    width: 86%;
}







}

@media screen and (min-width:981px) and (max-width:1320px){
.contenedor .contenedor2 .pelicuias {
    margin-top: 28px;
    margin-right: 28px;
    margin-left: 19px;
    margin-bottom: 28px;
}
.PIE.DE.PAGINA section img {
    margin-top: 48px;
    margin-right: 40px;
    margin-left: 784px;
    margin-bottom: 40px;
}
.contenedor .PIE.DE.PAGINA .texto {
    margin-top: -45px;
    margin-right: auto;
    margin-left: 142px;
    margin-bottom: auto;
}
.menu section img {
    width: 61%;
    height: 39px;
}






}
